ddr3_memory_controller.bld
ddr3_memory_controller.edif
ddr3_memory_controller.ngo
ddr3_memory_controller.map
ddr3_memory_controller.mrp
ddr3_memory_controller.ngd
ddr3_memory_controller.ncd
ddr3_memory_controller.ngm
ddr3_memory_controller.pcf
ddr3_memory_controller_par.bgn
ddr3_memory_controller_par.bit
ddr3_memory_controller_par.drc
ddr3_memory_controller_par.ncd
ddr3_memory_controller_par.pad
ddr3_memory_controller_par.par
ddr3_memory_controller_par.ptwx
ddr3_memory_controller_par.unroutes
ddr3_memory_controller_par.xpi
ddr3_memory_controller_par_bitgen.xwbt
ddr3_memory_controller_par_pad.csv
ddr3_memory_controller_par_pad.txt
ddr3_memory_controller_summary.xml
ddr3_memory_controller_usage.xml
par_usage_statistics.html
test_ddr3_memory_controller_map.xrpt
test_ddr3_memory_controller_par.xrpt
usage_statistics_webtalk.html
webtalk.log
ddr3_memory_controller_ngdbuild.xrpt
netlist.lst
xlnx_auto_0_xdb/
_xmsgs/
*.cfg
*.bit
_impact*
openocd
