NET "clk" LOC = D9;
NET "reset" LOC = P15;
NET "done" LOC = T9;
NET "address[12]" LOC = F3;
NET "ras_n" LOC = J6;
NET "reset_n" LOC = E4;
NET "we_n" LOC = C1;
NET "cas_n" LOC = H5;
NET "ck" LOC = E2;
NET "ck_n" LOC = E1;
NET "ck_en" LOC = F4;
NET "dq[7]" LOC = G1;
NET "dq[6]" LOC = G3;
NET "dq[5]" LOC = F1;
NET "dq[4]" LOC = F2;
NET "dq[3]" LOC = J1;
NET "dq[2]" LOC = J3;
NET "dq[1]" LOC = K1;
NET "dq[0]" LOC = K2;
NET "dq[8]" LOC = L3;
NET "dq[9]" LOC = L1;
NET "dq[10]" LOC = M2;
NET "dq[11]" LOC = M1;
NET "dq[12]" LOC = P2;
NET "dq[13]" LOC = P1;
NET "dq[14]" LOC = R2;
NET "dq[15]" LOC = R1;
NET "bank_address[0]" LOC = C3;
NET "bank_address[1]" LOC = C2;
NET "bank_address[2]" LOC = B1;
NET "address[14]" LOC = F5;
NET "address[13]" LOC = F6;
NET "address[11]" LOC = E3;
NET "address[10]" LOC = G6;
NET "address[9]" LOC = A2;
NET "address[8]" LOC = B2;
NET "address[7]" LOC = D3;
NET "address[6]" LOC = H3;
NET "address[5]" LOC = H4;
NET "address[4]" LOC = G5;
NET "address[3]" LOC = L4;
NET "address[2]" LOC = D1;
NET "address[1]" LOC = K6;
NET "address[0]" LOC = K5;
NET "ldqs" LOC = H2;
NET "ldqs_n" LOC = H1;
NET "udqs" LOC = N3;
NET "udqs_n" LOC = N1;
NET "cs_n" LOC = A4;
NET "udm" LOC = K3;
NET "address[14]" IOSTANDARD = LVCMOS25;
NET "address[14]" DRIVE = 12;
NET "address[14]" SLEW = SLOW;
NET "address[13]" IOSTANDARD = LVCMOS25;
NET "address[13]" DRIVE = 12;
NET "address[13]" SLEW = SLOW;
NET "address[12]" IOSTANDARD = LVCMOS25;
NET "address[12]" DRIVE = 12;
NET "address[12]" SLEW = SLOW;
NET "address[11]" IOSTANDARD = LVCMOS25;
NET "address[11]" DRIVE = 12;
NET "address[11]" SLEW = SLOW;
NET "address[10]" IOSTANDARD = LVCMOS25;
NET "address[10]" DRIVE = 12;
NET "address[10]" SLEW = SLOW;
NET "address[9]" IOSTANDARD = LVCMOS25;
NET "address[9]" DRIVE = 12;
NET "address[9]" SLEW = SLOW;
NET "address[8]" IOSTANDARD = LVCMOS25;
NET "address[8]" DRIVE = 12;
NET "address[8]" SLEW = SLOW;
NET "address[7]" IOSTANDARD = LVCMOS25;
NET "address[7]" DRIVE = 12;
NET "address[7]" SLEW = SLOW;
NET "address[6]" IOSTANDARD = LVCMOS25;
NET "address[6]" DRIVE = 12;
NET "address[6]" SLEW = SLOW;
NET "address[5]" IOSTANDARD = LVCMOS25;
NET "address[5]" DRIVE = 12;
NET "address[5]" SLEW = SLOW;
NET "address[4]" IOSTANDARD = LVCMOS25;
NET "address[4]" DRIVE = 12;
NET "address[4]" SLEW = SLOW;
NET "address[3]" IOSTANDARD = LVCMOS25;
NET "address[3]" DRIVE = 12;
NET "address[3]" SLEW = SLOW;
NET "address[2]" IOSTANDARD = LVCMOS25;
NET "address[2]" DRIVE = 12;
NET "address[2]" SLEW = SLOW;
NET "address[1]" IOSTANDARD = LVCMOS25;
NET "address[1]" DRIVE = 12;
NET "address[1]" SLEW = SLOW;
NET "address[0]" IOSTANDARD = LVCMOS25;
NET "address[0]" DRIVE = 12;
NET "address[0]" SLEW = SLOW;
NET "bank_address[2]" IOSTANDARD = LVCMOS25;
NET "bank_address[2]" DRIVE = 12;
NET "bank_address[2]" SLEW = SLOW;
NET "bank_address[1]" IOSTANDARD = LVCMOS25;
NET "bank_address[1]" DRIVE = 12;
NET "bank_address[1]" SLEW = SLOW;
NET "bank_address[0]" IOSTANDARD = LVCMOS25;
NET "bank_address[0]" DRIVE = 12;
NET "bank_address[0]" SLEW = SLOW;
NET "dq[15]" IOSTANDARD = LVCMOS25;
NET "dq[15]" DRIVE = 12;
NET "dq[15]" SLEW = SLOW;
NET "dq[14]" IOSTANDARD = LVCMOS25;
NET "dq[14]" DRIVE = 12;
NET "dq[14]" SLEW = SLOW;
NET "dq[13]" IOSTANDARD = LVCMOS25;
NET "dq[13]" DRIVE = 12;
NET "dq[13]" SLEW = SLOW;
NET "dq[12]" IOSTANDARD = LVCMOS25;
NET "dq[12]" DRIVE = 12;
NET "dq[12]" SLEW = SLOW;
NET "dq[11]" IOSTANDARD = LVCMOS25;
NET "dq[11]" DRIVE = 12;
NET "dq[11]" SLEW = SLOW;
NET "dq[10]" IOSTANDARD = LVCMOS25;
NET "dq[10]" DRIVE = 12;
NET "dq[10]" SLEW = SLOW;
NET "dq[9]" IOSTANDARD = LVCMOS25;
NET "dq[9]" DRIVE = 12;
NET "dq[9]" SLEW = SLOW;
NET "dq[8]" IOSTANDARD = LVCMOS25;
NET "dq[8]" DRIVE = 12;
NET "dq[8]" SLEW = SLOW;
NET "dq[7]" IOSTANDARD = LVCMOS25;
NET "dq[7]" DRIVE = 12;
NET "dq[7]" SLEW = SLOW;
NET "dq[6]" IOSTANDARD = LVCMOS25;
NET "dq[6]" DRIVE = 12;
NET "dq[6]" SLEW = SLOW;
NET "dq[5]" IOSTANDARD = LVCMOS25;
NET "dq[5]" DRIVE = 12;
NET "dq[5]" SLEW = SLOW;
NET "dq[4]" IOSTANDARD = LVCMOS25;
NET "dq[4]" DRIVE = 12;
NET "dq[4]" SLEW = SLOW;
NET "dq[3]" IOSTANDARD = LVCMOS25;
NET "dq[3]" DRIVE = 12;
NET "dq[3]" SLEW = SLOW;
NET "dq[2]" IOSTANDARD = LVCMOS25;
NET "dq[2]" DRIVE = 12;
NET "dq[2]" SLEW = SLOW;
NET "dq[1]" IOSTANDARD = LVCMOS25;
NET "dq[1]" DRIVE = 12;
NET "dq[1]" SLEW = SLOW;
NET "dq[0]" IOSTANDARD = LVCMOS25;
NET "dq[0]" DRIVE = 12;
NET "dq[0]" SLEW = SLOW;
NET "clk" IOSTANDARD = LVCMOS33;
NET "reset" IOSTANDARD = LVCMOS33;
NET "done" IOSTANDARD = LVCMOS33;
NET "done" DRIVE = 8;
NET "done" SLEW = SLOW;
NET "ck" IOSTANDARD = LVCMOS25;
NET "ck" DRIVE = 12;
NET "ck" SLEW = SLOW;
NET "ck_n" IOSTANDARD = LVCMOS25;
NET "ck_n" DRIVE = 12;
NET "ck_n" SLEW = SLOW;
NET "ck_en" IOSTANDARD = LVCMOS25;
NET "ck_en" DRIVE = 12;
NET "ck_en" SLEW = SLOW;
NET "cs_n" IOSTANDARD = LVCMOS25;
NET "cs_n" DRIVE = 12;
NET "cs_n" SLEW = SLOW;
NET "ras_n" IOSTANDARD = LVCMOS25;
NET "ras_n" DRIVE = 12;
NET "ras_n" SLEW = SLOW;
NET "cas_n" IOSTANDARD = LVCMOS25;
NET "cas_n" DRIVE = 12;
NET "cas_n" SLEW = SLOW;
NET "we_n" IOSTANDARD = LVCMOS25;
NET "we_n" DRIVE = 12;
NET "we_n" SLEW = SLOW;
NET "reset_n" IOSTANDARD = LVCMOS25;
NET "reset_n" DRIVE = 12;
NET "reset_n" SLEW = SLOW;
NET "ldm" IOSTANDARD = LVCMOS25;
NET "ldm" DRIVE = 12;
NET "ldm" SLEW = SLOW;
NET "udm" IOSTANDARD = LVCMOS25;
NET "udm" DRIVE = 12;
NET "udm" SLEW = SLOW;
NET "ldqs" IOSTANDARD = LVCMOS25;
NET "ldqs" DRIVE = 12;
NET "ldqs" SLEW = SLOW;
NET "ldqs_n" IOSTANDARD = LVCMOS25;
NET "ldqs_n" DRIVE = 12;
NET "ldqs_n" SLEW = SLOW;
NET "udqs" IOSTANDARD = LVCMOS25;
NET "udqs" DRIVE = 12;
NET "udqs" SLEW = SLOW;
NET "udqs_n" IOSTANDARD = LVCMOS25;
NET "udqs_n" DRIVE = 12;
NET "udqs_n" SLEW = SLOW;

# PlanAhead Generated physical constraints 

NET "ldm" LOC = J4;
